<div class="top_links" id='h_main'><%=link_to 'ГЛАВНАЯ',:action=>'index', :controller=>:main-%></div>
<div class="top_links" id='h_company'><%=link_to 'О КОМПАНИИ',:action=>'about_us', :controller=>:main-%></div>
<div class="top_links" id='h_news'><%=link_to 'НОВОСТИ',:action=>'news', :controller=>:main-%></div> 	
<div class="top_links" id='h_contacts'><%=link_to 'КОНТАКТЫ',:action=>'contacts'-%></div>
<div class="top_links" id='h_aplication'><%=link_to 'ЗАЯВКА',:controller=>'main',:action=>'app'%></div>
<div class="top_links" id='h_hrefs'><%=link_to 'ПОЛЕЗНЫЕ ССЫЛКИ',:action=>'links', :controller=>:main-%></div>