<center>
<h2><%= @product.name %></h2>

<div id="product-images">
  <div id="main-image">
		<%= render 'image' -%>
  </div>
  <div id="thumbnails">
    <%= render 'thumbnails', :product => @product -%>
  </div>
</div>
<hr />
<div id="product-description">
  <%= product_description(@product) rescue t("product_has_no_description") %>

  <%= render 'properties' %>
</div>

<p>

<%= render 'cart_form' %>
<%=link_to('Сделать заявку >>',:controller=>'main',:action=>'app',:subject=>@product.name)-%>
</p>
</center>