<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ООО &laquo;Кёнигторг&raqio; | Всё для любимой школы</title>
<link href="/stylesheets/almazom.css" rel="stylesheet" type="text/css" />

<%=include_jquery()-%>
<%= javascript_include_tag "autocomplete/keywords_details.js"-%>
	
  
  <%= javascript_include_tag "autocomplete/jquery.bgiframe.min.js"%>
  <%= javascript_include_tag "autocomplete/jquery.ajaxQueue.js"-%>
  <%= javascript_include_tag "autocomplete/jquery.autocomplete.js"-%>
  <%= stylesheet_link_tag 'autocomplete/jquery.autocomplete.css'-%>


<%=javascript_include_tag "jquery.dropshadow.js","index_new_maket.js"-%>

<script type="text/javascript">
	<%seek_array = Product.all
		
		a=[]
		a2 = []
		jsn = Hash.new
		
		for s in seek_array
			a<<s.name
			jsn[s.name] = s.permalink
			
		end
		
		@ar = a.join('|')
		@json = jsn.to_json
	%>
	
	var data = "<%=@ar-%>".split("|");
	var o = <%=@json%>
//	alert(JSON.stringify(o))
</script>




</head>

<body>
<div id='loading'><%=image_tag('ajax-loader.gif')-%></div>
<div id='center_content_om'></div>
<div id='smoke'></div>

<div id='big_center'>
	<div class="pre_head"><img src="/images/top_lb.jpg" alt='top_lb' width="11" height="45" align="left" /><img src="/images/top_rb.jpg" alt='top_rb' width="11" height="45" align="right" />
	<div id='home_over'>

		<div class='home'>
		<img height="16" width="11" alt="Home" src="/images/home.png"/>
		<%=link_to('www.kenigtorg.com','/')-%>
		</div>
		<div class='home'>
		<img height="16" width="11" alt="Mail" src="/images/mail.png"/>
		
		<%=mail_to "kenigtorg@mail.ru", "kenigtorg @ mail.ru", :encode => "hex"%>
		
		</div>
		<div class='home'>
		<img height="16" width="8" alt="Phone" src="/images/phone.png"/>
		(4012) 64-47-74
		</div>
	</div>


	</div>
	<div class="center_content_top"> <img src="/images/head.jpg" alt='head' width="900" height="131" /></div>
	<div id="div_search">
		<div id='sch'>
					поиск <input type="text" id='seekbar'/>
			</div>
			
			<%=render :partial =>'main/top_nav'-%>
			
	</div>

	<div id='content_wrap'>
	
<!--		

-->	

<%if controller.controller_name =='main' && controller.action_name =='index'-%>
<div id='content_big2'>
	<div id='lc_mp'>
		<div id='news_title_l'>НОВОСТИ</div>
		<div id='news_content'>
		<%=show_news(3)-%>
		</div>
		
	</div>		
	<div id='rc_mp'>
		<div id='title_rht'>О КОМПАНИИ</div>
		<div id='about_us_content'>
			<%=content_show 'about_us'-%>
		</div>
	</div>
</div>
<%else%>


	<div id='content_big'>


<%
if params[:id]

	str = params[:id][1].to_s

	case str
		when 'oborudovaniie-dlia-dietskogho-sada'
			title = 'Оборудование для детского сада'
		when 'oborudovaniie-dlia-shkoly'	
			title = 'Оборудование для школы'
		when 'oborudovaniie-dlia-vuza-i-ptu'	
			title = 'Оборудование для ВУЗов и ПТУ'
	end
else
	title = gen_title_from_action_array(controller.action_name) if controller.controller_name=='main'
end
%>


	<div align="center" class="podl_main"><%=title-%></div>

		<div id='content_here'>
		 
		
		<%if params[:id]%>
		
			<%if params[:id][1] =='oborudovaniie-dlia-dietskogho-sada' || params[:id][1] =='oborudovaniie-dlia-shkoly' || params[:id][1]=='oborudovaniie-dlia-vuza-i-ptu'%>
				<%=yield-%>
			<%end-%>
		<%end%>
		<%begin%>
			<%=content_show(controller.action_name) if controller.action_name!='news' && controller.action_name!='app' && controller.action_name!='login' && controller.controller_name=='main' -%>
			<%=show_news('on_page') if controller.action_name=='news'-%>
			<%=yield if controller.action_name=='app' || controller.action_name=='user_session'-%>
			
		<%end%>	
		
			
		
		</div>
	</div>
<%end%>



 
	
 	<%=render :partial =>'main/left_col'-%>
	<div class='clear hbottom'></div>


	<div id='allfooter'>
		<div class="pre_head">
			<img src="/images/top_lb.jpg" alt='top_lb' width="11" height="45" align="left" />
			<img src="/images/top_rb.jpg" alt='top_rb' width="11" height="45" align="right" />
			<div id='f_nav'><%=link_to ('ГЛАВНАЯ'),:controller=>'main',:action=>'index'-%> | <%=link_to ('О КОМПАНИИ'),:controller=>'main',:action=>'about_us'-%> | <%=link_to ('НОВОСТИ'),:controller=>'main',:action=>'news'-%> | <%=link_to ('КОНТАКТЫ'),:controller=>'main',:action=>'contacts'-%> | <%=link_to ('ЗАЯВКА'),:controller=>'main',:action=>'app'-%> | <%=link_to ('ПОЛЕЗНЫЕ ССЫЛКИ'),:controller=>'main',:action=>'links'-%></div>
		</div> 


		<div id='footoffoot'>
			<img align="right" alt="книги" src="/images/books.jpg"/>Copyright(c) 2009 Kenigtorg
		</div>  
	</div> 





</div><!-- content_wrap-->
</div><!--big_center -->




</body>
</html>

